<div class="container-fluid blog">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
      <div class="container">
        <br>
        <div class="row">
          <h4 class="font-weight-bold heading">Blogs
            <hr>
          </h4>
        </div>
        <div class="row">
          <div *ngFor="let blog of returnedBlogs">
            <h3 [id]="blog.id" class="heading">
              <a routerLink="/blog/{{blog.id}}">{{blog.heading}}</a>
            </h3>
            <p class="detail">{{blog.detail[0].content | slice:0:320}}........</p>
            <small class="text-muted">Last updated at {{blog.date}}</small>
          </div>
        </div>
        <div class="row">
          <pagination class="pagination" [totalItems]="blogs.length" [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)"></pagination>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="container-fluid">
        <br>
        <div class="row fixed">
          <div class="heading-archives">Blog Archives
            <hr>
          </div>
          <div *ngFor="let blog of blogs">
            <p><a routerLink="/blog/{{blog.id}}">{{blog.heading}}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>