<div class="container-fluid blog">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
      <div class="container">
        <div class="row">
          <div>
            <h3 class="font-weight-bold" [id]="blog.id"> {{blog.heading}} </h3>
            <span>at {{blog.date}}</span>
            <div *ngFor="let detail of blog.detail">
              <p>{{detail.content}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="container-fluid">
        <div class="row fixed">
          <h4 class="font-weight-bold">Related Blogs
            <hr>
          </h4>

          <div *ngFor="let blog of blogs">
            <a href="#" (click)="showCurrentBlog(blog)">
              <p>{{blog.heading}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>