<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="left">
        <a class="navbar-brand text-white">
            <strong>imbiswajit.blog</strong>
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">
                    <i class="fa fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/blogs">
                    <i class="fa fa-slack"></i> Blogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-code-fork"></i> Projects</a>
            </li>
            
        </ul>
    </div>
</nav>
<header></header>
<router-outlet></router-outlet>